

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;

}


nav {
    background-color: #2c3e50;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #34495e;
}



.logo {
    height: 90px;
    width: 90px;
    vertical-align: middle;
}


main {
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}
 .table-container{
    width: 100%;
    overflow-x: auto;
 }
table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: small;
}

table th, table td {
    padding: 6px;
    text-align: center;
    border: 1px solid #ccc; 
}

table thead {
    background-color: #2c3e50;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}


.btn-primary, .btn-secondary {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn-secondary_stock {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn-primary {
    background-color: #27ae60;
    color: white;
}

.btn-primary:hover {
    background-color: #2ecc71;
    border: groove;
    border-color: #2c3e50;
}

.btn-secondary {
    background-color: #3498db;
    color: white;
    padding: 0px 1px;
    

    /*width: 50px;
    height: 35px;*/
    
}

.btn-secondary:hover {
    background-color: #2980b9;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #27ae60;
}



/*formulario*/

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 8px;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* login */

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.Urgencia {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 6px;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

 .estadistica{
    padding: 5%;
}


